---
import { Image } from "astro:assets";

import PageLayout from "../layouts/PageLayout.astro";

import Link from "../components/buttons/Link.astro";

import homeBackground from "../assets/home-background.jpg";
import homeSeparator from "../assets/home-separator.jpg";
import coffeTableTop from "../assets/coffee-table-top.jpg";
import woodHandPaint from "../assets/wood-hand-paint.jpg";
import vintageWorkTable from "../assets/vintage-work-table.jpg";

import { path } from "../utils/utils";
---

<PageLayout
    title="Home"
    selectedItem="home">
    <div class="w-full grid grid-template-areas-stack bg-gradient-black-semitransparent-top">
        <Image
            src={homeBackground}
            alt=""
            class="dw-screen dh-screen object-cover grid-area-stack -z-1 transition-all duration-200"
        />
        <div
            class="grid-area-stack justify-self-start self-center self-grid-end md:p-28 p-10 text-white z-20">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tight">
                Arredi su misura<br />fatti a mano<br />in Italia
            </h1>
        </div>
        <div
            class="w-full sm:w-auto grid-area-stack justify-self-end self-end self-grid-end p-10 text-white z-20">
            <a
                href={path("/furnishings")}
                class="block w-full sm:inline-block sm:w-32 mb-5 sm:mb-0 text-center border-white bg-white border-[3px] p-[0.6rem] uppercase text-stone-700 text-[0.8rem] font-extrabold leading-7 tracking-wider sm:mr-5 hover:text-stone-900 transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-4 focus-visible:ring-offset-stone-900 focus-visible:text-stone-900">
                scopri
            </a>
            <a
                href={path("/contacts")}
                class="block w-full sm:inline-block sm:w-32 text-center border-white bg-transparent border-[3px] p-[0.6rem] uppercase text-white text-[0.8rem] font-extrabold leading-7 tracking-wider hover:text-stone-900 hover:bg-white transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-4 focus-visible:ring-offset-stone-900 focus-visible:bg-white focus-visible:text-stone-900">
                contattaci
            </a>
        </div>
    </div>
    <Image
        src={homeSeparator}
        alt=""
        class="mt-20 sm:mt-40 h-40 sm:h-[22rem] w-full object-cover object-center"
    />
    <main class="text-black max-w-7xl px-4 sm:px-20 mx-auto">
        <section class="mt-32 sm:mt-40">
            <h2 class="block text-center text-3xl sm:text-4xl font-extrabold">
                Una storia di passione e artigianalità
            </h2>
            <article class="mt-8">
                <p class="font-normal text-base tracking-wider">
                    La nostra azienda ha un legame profondo con la tradizione e questo ci permette di offre ai
                    nostri clienti soluzioni ricercate e di qualità. Siamo sempre alla ricerca
                    dell'eccellenza, sia attraverso l'utilizzo di materiali pregiati, sia attraverso il nostro
                    impegno nel seguire il cliente a 360 gradi, offrendogli un servizio personalizzato e
                    attento. La nostra passione per il lavoro, unita alla nostra disponibilità e
                    professionalità, ci ha permesso di costruire nel tempo una storia di successo.
                </p>
                <Link
                    to="/furnishings"
                    text="Soluzioni d'arredo"
                    class="mt-8"
                />
            </article>
        </section>
        <section class="mt-32 sm:mt-40">
            <h2 class="block text-center text-3xl sm:text-4xl font-extrabold">
                I nostri servizi per le tue esigenze
            </h2>
            <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-40 gap-y-40 md:gap-y-20">
                <article class="flex flex-col items-start justify-start gap-8 sm:gap-12">
                    <Image
                        src={coffeTableTop}
                        alt="tavolino circolare in legno"
                        class="h-40 sm:h-80 object-cover object-center"
                    />
                    <h3 class="text-2xl font-bold after:block after:w-16 after:h-0.5 after:bg-black">
                        Arredi su misura
                    </h3>
                    <p class="font-normal text-base tracking-wider flex-grow">
                        Progettiamo e realizziamo soluzioni d'arredo secondo le vostre esigenze per ambienti
                        di ogni stile e dimensione.
                    </p>
                    <Link
                        to="/furnishings#arredi-su-misura"
                        text="Arredi"
                        class="self-start"
                    />
                </article>
                <article
                    class="flex flex-col items-start justify-start gap-8 relative sm:gap-12 before:bg-gray-200 before:absolute before:content-[''] before:w-full-8 sm:before:w-full-40 before:h-full-40 before:-top-20 before:-left-4 sm:before:-left-20 before:-z-1 md:before:hidden">
                    <Image
                        src={woodHandPaint}
                        alt="tavolino circolare in legno"
                        class="h-40 sm:h-80 object-cover object-center"
                    />
                    <h3 class="text-2xl font-bold after:block after:w-16 after:h-0.5 after:bg-black">
                        Finitura e laccatura
                    </h3>
                    <p class="font-normal text-base tracking-wider flex-grow">
                        Doniamo un nuovo aspetto a mobili e arredi utilizzando tecniche di finitura e
                        verniciatura a pennello, realizzate esclusivamente a mano.
                    </p>
                    <Link
                        to="/furnishings#finitura-e-laccatura"
                        text="Finiture"
                        class="self-start"
                    />
                </article>
                <article class="flex flex-col items-start justify-start gap-8 sm:gap-12">
                    <Image
                        src={vintageWorkTable}
                        alt="tavolino circolare in legno"
                        class="h-40 sm:h-80 object-cover object-center"
                    />
                    <h3 class="text-2xl font-bold after:block after:w-16 after:h-0.5 after:bg-black">
                        Riqualifica mobili
                    </h3>
                    <p class="font-normal text-base tracking-wider flex-grow">
                        Ripristiniamo vecchi mobili, donando loro una nuova vita tramite interventi di
                        restauro che preservano l'unicità e ne migliorano la durabilità nel tempo.
                    </p>
                    <Link
                        to="/furnishings#riqualifica-mobili"
                        text="Restauri"
                        class="self-start"
                    />
                </article>
            </div>
        </section>
        <section class="my-32 sm:my-40">
            <h2 class="block text-center text-3xl sm:text-4xl font-extrabold">
                Contattaci per ulteriori informazioni
            </h2>
            <article
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-[auto_auto_auto] md:grid-rows-2 lg:grid-rows-1 gap-x-6 lg:gap-x-12 gap-y-12 mt-8 capitalize">
                <div class="flex flex-col gap-2">
                    <h3 class="font-bold">telefono</h3>
                    <address class="not-italic grid grid-cols-2 max-w-[18rem] gap-x-2">
                        <span>+39 339 4690 597</span>
                        <span>ferdinando</span>
                        <span>+39 349 6515 751</span>
                        <span>stefano</span>
                    </address>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="font-bold">email</h3>
                    <address class="not-italic">info@essedue-arredi.it</address>
                </div>
                <Link
                    to="/contacts"
                    text="Dove siamo"
                    class="self-start lg:self-end justify-self-start col-span-1"
                />
            </article>
        </section>
    </main>
</PageLayout>
