---
import FacebookIcon from "./icons/Facebook.astro";
import InstagramIcon from "./icons/Instagram.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
import TikTokIcon from "./icons/TikTok.astro";

import { path } from "../utils/utils";
---

<footer class="flex flex-col items-center justify-center gap-10 bg-black p-8 text-white selection-inverted">
    <section class="flex flex-row items-center justify-center gap-5">
        <a
            href={import.meta.env.ESSEDUE_FACEBOOK_URL}
            aria-label="Link alla pagina Facebook"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="hidden">Pagina Facebook</span>
            <FacebookIcon />
        </a>
        <a
            href={import.meta.env.ESSEDUE_INSTAGRAM_URL}
            aria-label="Link alla pagina Instagram"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="hidden">Pagina Instagram</span>
            <InstagramIcon />
        </a>
        <a
            href={import.meta.env.ESSEDUE_TIKTOK_URL}
            aria-label="Link alla pagina TikTok"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="hidden">Pagina TikTok</span>
            <TikTokIcon />
        </a>
    </section>
    <section
        class="flex flex-col flex-wrap items-center justify-center gap-8 text-center text-sm font-light md:flex-row md:gap-2">
        <a
            href={import.meta.env.PUBLIC_SITE}
            aria-label={`Copyright, ${import.meta.env.ESSEDUE_NAME}`}
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="font-medium">
                &copy;
                <span id="date"></span>
                {import.meta.env.ESSEDUE_NAME}
            </span>
        </a>
        <span class="hidden font-medium md:block">|</span>
        <span>{import.meta.env.ESSEDUE_SHORT_ADDRESS}</span>
        <span class="hidden font-medium md:block">|</span>
        <span>{import.meta.env.ESSEDUE_PRIMARY_PHONE}</span>
        <span class="hidden font-medium md:block">|</span>
        <span>{import.meta.env.ESSEDUE_EMAIL}</span>
    </section>
    <section
        class="flex flex-col flex-wrap items-center justify-center gap-8 text-center text-xs font-light md:flex-row md:gap-2">
        <a
            aria-label="Link alla Privacy Policy"
            href={path("/privacy-policy")}
            class="block underline outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
            >Privacy Policy</a
        >
        <span class="hidden md:block">|</span>
        <a
            aria-label="Link alla Cookie Policy"
            href={path("/cookie-policy")}
            class="block underline outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black"
            >Cookie policy</a
        >
    </section>
    <section class="mt-8 flex flex-row items-center justify-center gap-1 text-2xs font-light md:mt-0">
        <span>Designed by</span>
        <a
            href={import.meta.env.DEVELOPER_LINKEDIN_URL}
            aria-label="Realizzato da Mattia Calabresi"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="flex flex-row items-center justify-center gap-1">
                <span class="font-medium">Mattia Calabresi</span>
                <LinkedinIcon />
            </span>
        </a>
    </section>
</footer>

<script>
    document.getElementById("date")!.textContent = new Date().getFullYear().toString();
</script>
