---
import FacebookIcon from "./icons/Facebook.astro";
import InstagramIcon from "./icons/Instagram.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
---

<footer class="flex flex-col items-center justify-center gap-10 bg-black p-8 text-white selection-inverted">
    <section>
        <span>AAAAAAAAAAAAAAAAAAAAAAAA</span>
        <span>{import.meta.env.PUBLIC_SITE}</span>
        <span>AAAAAAAAAAAAAAAAAAAAAAAA</span>
        <span>{import.meta.env.MODE}</span>
        <span>AAAAAAAAAAAAAAAAAAAAAAAA</span>
    </section>
    <section class="flex flex-row items-center justify-center gap-5">
        <a
            href={import.meta.env.ESSEDUE_FACEBOOK_URL}
            aria-label="Link alla pagina Facebook"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="hidden">Pagina Facebook</span>
            <FacebookIcon />
        </a>
        <a
            href={import.meta.env.ESSEDUE_INSTAGRAM_URL}
            aria-label="Link alla pagina Instagram"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="hidden">Pagina Instagram</span>
            <InstagramIcon />
        </a>
    </section>
    <section
        class="flex flex-col flex-wrap items-center justify-center gap-8 text-center text-sm font-light md:flex-row md:gap-2">
        <a
            href={import.meta.env.PUBLIC_SITE}
            aria-label="Copyright, Essedue Arredi"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="font-medium">
                &copy;
                <span id="date"></span>
                 Essedue Arredi
            </span>
        </a>
        <span class="hidden font-medium md:block">|</span>
        <span>Via Alessandro Manzoni 22B, Carugo (CO)</span>
        <span class="hidden font-medium md:block">|</span>
        <span>+39 339 4690 597</span>
        <span class="hidden font-medium md:block">|</span>
        <span>{import.meta.env.ESSEDUE_EMAIL}</span>
    </section>
    <section class="mt-8 flex flex-row items-center justify-center gap-1 text-2xs font-light md:mt-0">
        <span>Designed by</span>
        <a
            href={import.meta.env.DEVELOPER_LINKEDIN_URL}
            aria-label="Realizzato da Mattia Calabresi"
            target="_blank"
            rel="noopener noreferrer"
            class="block outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-black">
            <span class="flex flex-row items-center justify-center gap-1">
                <span class="font-medium">Mattia Calabresi</span>
                <LinkedinIcon />
            </span>
        </a>
    </section>
</footer>

<script>
    document.getElementById("date")!.textContent = new Date().getFullYear().toString();
</script>
