---
import "@fontsource-variable/montserrat";

import FaviconMetaTags from "../components/metaTags/FaviconMetaTags.astro";
import FacebookMetaTags from "../components/metaTags/FacebookMetaTags.astro";
import TwitterMetaTags from "../components/metaTags/TwitterMetaTags.astro";
import GeoMetaTags from "../components/metaTags/GeoMetaTags.astro";

import LoadScreen from "../components/LoadScreen.astro";
import Navbar from "../components/navbar/Navbar.astro";
import HomeNavbar from "../components/navbar/NavbarHome.astro";
import Footer from "../components/Footer.astro";

import "../global.css";

interface Props {
    title: string;
    selectedItem: "home" | "arredi" | "chi-siamo" | "contatti";
    metaContent: string;
}
const { title, selectedItem, metaContent } = Astro.props;
---

<html
    lang="it"
    class="selection">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content={metaContent}
        />
        <meta
            name="generator"
            content={Astro.generator}
        />

        <link
            rel="sitemap"
            href="/sitemap-index.xml"
        />

        <meta
            name="robots"
            content="index, follow"
        />

        <FaviconMetaTags />
        <FacebookMetaTags
            title={title}
            content={metaContent}
        />
        <TwitterMetaTags
            title={title}
            content={metaContent}
        />
        <GeoMetaTags />

        <title>Arredi su misura, fatti a mano in Italia | Essedue Arredi | {title}</title>
    </head>
    <body>
        <LoadScreen />
        {
            selectedItem === "home" ? (
                <HomeNavbar selectedItem={selectedItem} />
            ) : (
                <Navbar selectedItem={selectedItem} />
            )
        }
        <slot />
        <Footer />
    </body>
</html>
